{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="p-10 text-center w-max mx-auto">
        <div class="flex flex-row justify-between gap-[100px] items-center mb-5">
            <h2 class="text-2xl">{{ 'Dashboard.header'|trans }}</h2>
            <a href="{{ path('new_reading', {_locale: app.request.locale}) }}"
               title="{{ 'Reading.add'|trans }}"
               class="inline-block shadow w-10 h-10 border-10 rounded-lg bg-stone-600 text-stone-200 text-center text-4xl"
            >+</a>
        </div>
        <table class="table-auto border-spacing-4 border-collapse mx-auto shadow">
            <thead class="bg-stone-800">
            <tr class="text-zinc-200">
                <th class="border-0 border-slate-600 px-6 py-1.5">{{ 'Dashboard.table.date'|trans }}</th>
                <th class="border-0 border-slate-600 px-6 py-1.5">{{ 'Dashboard.table.value'|trans }}</th>
                <th class="border-0 border-slate-600 px-6 py-1.5">{{ 'Dashboard.table.change'|trans }}</th>
            </tr>
            </thead>
            <tbody class="bg-zinc-100">
            {% for reading in readings %}
                    <td class="{% if loop.first == false %}border-t border-stone-300{% endif %} {% if loop.index is divisible by(2) %}bg-[#e4dfdb]{% endif %} px-6 py-1.5">{{ reading.date }}</td>
                    <td class="{% if loop.first == false %}border-t border-stone-300{% endif %} {% if loop.index is divisible by(2) %}bg-[#e4dfdb]{% endif %} px-6 py-1.5">{{ reading.value / 10 }}</td>
                    <td class="{% if loop.first == false %}border-t border-stone-300{% endif %} {% if loop.index is divisible by(2) %}bg-[#e4dfdb]{% endif %} px-6 py-1.5">
                        {{ reading.usage ? reading.usage / 10 : '&mdash;' }}
                        <span class="text-[0.7rem]">kWh</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="my-2 mx-0 flex flex-row justify-between">
            <span class="inline-block">{{ 'Reading.summary.label'|trans }}:</span>
            <ul class="text-right">
                <li>
                    <span class="text-sm">{{ 'Reading.summary.sum'|trans }}:</span>
                    <span class="font-bold font-['Montserrat'] inline-block w-[90px]">
                                    {{ summary.sum }}
                                    <span class="text-[0.7rem] font-['Comfortaa'] font-normal">kWh</span>
                                </span>
                </li>
                <li>
                    <span class="text-sm">{{ 'Reading.summary.average'|trans }}:</span>
                    <span class="font-bold font-['Montserrat'] inline-block w-[90px]">
                                    {{ summary.avg / 10 }}
                                    <span class="text-[0.7rem] font-['Comfortaa'] font-normal">kWh</span>
                                </span>
                </li>
                <li>
                    <span class="text-sm">{{ 'Reading.summary.median'|trans }}:</span>
                    <span class="font-bold font-['Montserrat'] inline-block w-[90px]">
                                    {{ summary.median / 10 }}
                                    <span class="text-[0.7rem] font-['Comfortaa'] font-normal">kWh</span>
                                </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
