{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="w-screen p-10 text-center">
        <h1 class="text-2xl	text-sky-950 my-6">{% if is_edit %}{{ 'Reading.edit'|trans }}{% else %}{{ 'Reading.create'|trans }}{% endif %}</h1>
        {{ form_start(form) }}
        {{ form_row(form.value, {
            label: 'Form.field.value'|trans,
            row_class: 'my-3 min-w-[350px]',
            label_class: 'block',
            widget_class: 'px-1 h-[70px] w-full border border-stone-800 shadow-input text-center',
        }) }}
        {{ form_row(form.date, {
            label: 'Form.field.date'|trans,
            row_class: 'my-3 min-w-[350px]',
            label_class: 'block',
            widget_class: 'px-1  h-[70px] w-full border border-stone-800 shadow-input text-center',
        }) }}
        {{ form_row(form.device, {
            label: 'Form.field.device'|trans,
            row_class: 'my-3 min-w-[350px]',
            label_class: 'block',
        }) }}
        {{ form_row(form.tags, {
            label: 'Form.field.tags'|trans,
            row_class: 'my-3 min-w-[350px]',
            label_class: 'block',
            widget_class: 'px-1  h-[70px] w-full border border-stone-800 shadow-input text-center',
        }) }}

        <button type="submit" class="rounded-sm	py-3 px-8 mt-3
                        bg-stone-600 text-stone-200 hover:bg-stone-400 hover:text-stone-50
                        transition-all duration-200 ease-in"
        >
            {{ 'Form.field.save_reading'|trans }}
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
