{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="pt-14 px-2 lg:pt-10 lg:px-12 text-center w-full lg:min-w-[600px] mx-auto mb-[10px]">
        <div class="flex flex-row justify-between gap-[100px] items-center mb-5">
            <h2 class="text-2xl">{{ 'Analysis.header'|trans }}</h2>
        </div>
        <div class="w-full h-[600px]">
            {{ render_chart(chart) }}
        </div>
        {% set _currentRoute = app.request.attributes.get('_route') %}
        {% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}
        {% if max > 0 %}
            <div class="flex items-center justify-center col-span-2 mt-5">
                <div class="flex items-center justify-between w-full text-gray-400 rounded-lg bg-stone-800 max-w-fit mx-2">
                    <a href="{{ path(_currentRoute, _currentParams|merge({page: min(max, max(1,page - 1))}))}}"
                       class="inline-flex items-center justify-center h-8 px-1 w-10 rounded-s-lg bg-stone-800 hover:bg-stone-600 focus:outline-none focus:ring-2 focus:ring-gray-800">
                        <svg class="w-6 h-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">{{ "Paginator.previous"|trans }}</span>
                    </a>
                    <span class="flex-shrink-0 mx-1 text-sm font-medium space-x-0.5 rtl:space-x-reverse">
                        {{ "Paginator.page"|trans({'%current%': page, '%last%': max}) }}
                    </span>
                    <a href="{{ path(_currentRoute, _currentParams|merge({page: min(max, page + 1)}))}}"
                       class="inline-flex items-center justify-center h-8 px-1 w-10 rounded-e-lg bg-stone-800 hover:bg-stone-600 focus:outline-none focus:ring-2 focus:ring-gray-800">
                        <svg class="w-6 h-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">{{ "Paginator.next"|trans }}</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}